.menu {
  height: max-content;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-size: cover;
}

.menu__title {
  margin: 100px auto 0;
  max-width: 800px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.menu__subtitle {
  margin: 24px auto 0;
  max-width: 800px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.cards {
  margin: 100px auto 0;
  padding-bottom: 100px;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__top-row {
  display: flex;
  gap: 100px;
  margin: 0;
  justify-content: space-between;
}

.cards__bottom-row {
  margin: 100px auto 0;
}

