.menu {
  height: max-content;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-size: cover;
}

.menu__title {
  margin: 100px auto 0;
  max-width: 800px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.menu__subtitle {
  margin: 24px auto 0;
  max-width: 800px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

@media (max-width: 500px) {
  .menu__title {
    margin: 100px auto 0;
    max-width: 800px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }

  .menu__subtitle {
    max-width: 360px;

    font-size: 16px;
    line-height: 30px;
  }
}
