.recipes {
  display: flex;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  margin: 100px auto 0 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px auto 0 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 80px auto 215px;
  display: flex;
  gap: 40px;
}

.recipes__iframe {
  border: 0;
  width: 480px;
  height: 273px;
}

@media (max-width: 1050px) {
  .recipes__videos {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .recipes__title {
    max-width: 450px;
    margin: 30px auto 0 20px;
  }

  .recipes__subtitle {
    max-width: 438px;
    margin: 24px 10px 0 20px;
  }
  .recipes__iframe {
    width: 360px;
  }
}
