.reservation {
  display: flex;
  flex-direction: column;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  color: #000;
  height: max-content;
}

.reservation__title {
  margin: 100px auto 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 80px auto 120px;
  max-width: 385px;
}

@media (max-width: 500px) {
  .reservation__title {
    max-width: 360px;
    margin: 100px auto 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
  }

  .reservation__form {
    max-width: 360px;
  }
}
